*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(ama\ logo.webp);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1px solid whitesmoke;
}
/** Address **/
.add1{
    color: #cccccc;
    font-size: 0.9rem;
    margin-left: 15px;
}

.add2{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/** search bar **/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
    width: 650px;
    height: 35px;
    border-radius: 3px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}
/** Language Option **/
.language-option{
     justify-content: center;
}

/** Sign in **/
span{
    font-size: 0.8rem;
}

/** sign in and return - order **/

.a-l{
    font-size: 0.85rem;
    font-weight: 700;
}

.r-o{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-search:hover{
    border: 2px solid orange;
}
/** Cart **/
.nav-cart i {
    font-size: 30px;  
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/** Panel **/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-opt p{
    display: inline;
    margin-left: 15px;
}

.panel-opt{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/** Hero Section **/
.hero-section{
    background-image: url(hero\ image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-inside{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85;
    width: 80%;
    margin-bottom: 20px;
}

.hero-inside a{
    color: #007185;
}

/** Shopping Secton **/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    height: 250px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.mini-box-img11{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content1{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content1 p{
    color: #007185;
}

.mini-box-img12{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content2{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content2 p{
    color: #007185;
}

.mini-box-img13{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content3{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content3 p{
    color: #007185;
}

.mini-box-img14{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content4{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content4 p{
    color: #007185;
}

.mini-box-img21{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content5{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content5 p{
    color: #007185;
}

.mini-box-img22{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content6{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content6 p{
    color: #007185;
}

.mini-box-img23{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content7{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content7 p{
    color: #007185;
}

.mini-box-img24{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content8{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content8 p{
    color: #007185;
}

.mini-box-img31{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content9{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content9 p{
    color: #007185;
}

.mini-box-img32{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content10{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content10 p{
    color: #007185;
}

.mini-box-img33{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content11{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content11 p{
    color: #007185;
}

.mini-box-img34{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content12{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content12 p{
    color: #007185;
}

.mini-box-img41{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content13{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content13 p{
    color: #007185;
}

.mini-box-img42{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content14{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content14 p{
    color: #007185;
}

.mini-box-img43{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content15{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content15 p{
    color: #007185;
}

.mini-box-img44{
    height: 200px;
    background-size: cover;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.box-content16{
    margin-left: 10px;
    margin-right: 10px;
    
}

.box-content16 p{
    color: #007185;
}

/** Footer **/

.footer{
    margin-top: 25px;
}

.footer-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin: 10px;
    color: #dddddd;
}