*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(ama\ logo.webp);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1px solid whitesmoke;
}
/** Address **/
.add1{
    color: #cccccc;
    font-size: 0.9rem;
    margin-left: 15px;
}

.add2{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/** search bar **/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
    width: 650px;
    height: 35px;
    border-radius: 3px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}
/** Language Option **/
.language-option{
     justify-content: center;
}

/** Sign in **/
span{
    font-size: 0.8rem;
}

/** sign in and return - order **/

.a-l{
    font-size: 0.85rem;
    font-weight: 700;
}

.r-o{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-search:hover{
    border: 2px solid orange;
}
/** Cart **/
.nav-cart i {
    font-size: 30px;  
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700px;
}